<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM3</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
</head>
<body>



<!-- Прослушка событий 2. Форма -->
<div class="dom-example">
    <form action="">
        <input type="text" class="input-text" id="input-text" />
        <div class="text-block" id="text-block">...</div>
    </form>
</div>




<!--///////////////////////////////////////////////////////////////-->
<script src="/js/DOM3.js"></script>
</body>
</html>