<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM4</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<!-- Прослушка событий 3. event -->
<div class="dom-example">
    <h2>Объект event</h2>
    <h3>Список задач</h3>
    <ul id="list">
        <li>Посмотреть вебинар</li>
        <li>Написать конспект</li>
        <li>Повторить код с урока</li>
    </ul>
</div>
<!--///////////////////////////////////////////////////////////////-->
<script src="/js/DOM4.js"></script>
</body>
</html>